include *.rst
include .editorconfig
include LICENSE
include *.txt
include tox.ini
recursive-include docs *
recursive-include opgpcard *.svg
recursive-include opgpcard *.vcf
recursive-include tests *
recursive-include examples *.svg
recursive-include examples *.vcf
prune */__pycache__
prune docs/build
